*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: var(--neutral-800);
}

.container{
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 20px;
}